<div class="container-fluid ps-4 pe-2 py-2 m-0" id="footer">
    <div class="footer-container">
      <div class="footer-left">
        <p class="colorText">Contatti:</p>
        <ul>
          <li><a href="tel:061234567"><i class="fas fa-phone-flip mx-2"></i>06 1234567</a></li>
          <li><a href="mailto:atp@info.com"><i class="fas fa-at mx-2"></i>atp@info.com</a></li>
          <li><a href="https://www.google.com/maps/search/?api=1&query=Piazza+Venezia%2C+N.+10%2C+Roma" target="_blank"><i class="fas fa-map-location-dot mx-2"></i>Piazza Venezia, N. 10, Roma</a></li>
        </ul>
      </div>
      <div class="footer-center d-flex flex-column justify-content-center align-items-center">
        <img src="../../../assets/img/logo_nav.png" alt="Logo">
        <p class="mb-0">&copy; <i>2023 <span  class="colorText">APT S.r.l.</span> Tutti i diritti riservati.</i></p>
      </div>
      <div class="footer-right">
        <p class="colorText">Seguici su:</p>
        <ul>
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook mx-2"></i>Facebook</a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter mx-2"></i>Twitter</a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square mx-2"></i>Instagram</a></li>
        </ul>
      </div>
    </div>
</div>
