#profileIcone{
  i{
    font-size: 50px;
    color: #c69c6d;
  }
}

#card{
  background-color: #f1e5d7;
}

.list-group-item{
  background-color: #f1e5d7;
}

#modifica {
  background-color: #c69c6d;
}
