<div id="fakeBody">
  <div class="d-flex flex-column align-items-center">
    <img id="logo" src="../../../assets/img/Logo_cut.png" alt="">
    <div id="intro">
      <p>Benvenuto su <span>A</span>ggiungi un <span>P</span>osto a <span>T</span>avola, <br> il tuo sito di prenotazione di fiducia! Non sai dove
        andare a cena?
        Ci pensiamo noi a aiutarti! Come? Facilissimo! Registrati, prendi le posate e partiamo!</p>
    </div>
  </div>
  <div class="d-flex justify-content-center w-100 mt-5" id="navButton">
    <button type="button" id="login" class="btn button" routerLink="login">
      Fai già parte dei nostri? <br>Vai al Login!
    </button>
    <button type="button" id="register" class="btn button" routerLink="register">
      è la tua prima volta? <br>Registrati!
    </button>
  </div>
</div>
