#favoriteCard{
  display: flex;
  justify-content: center;
  background-color:  #f1e5d7;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #c69c6d;
  p{
    font-weight: 500;
  }
}

#title{
  font-size: 1.1rem;
  font-weight: 600;
  a {
    text-decoration: none;
    color: black;
    &:hover{
      color: #c69c6d;
    }  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  #favoriteCard{
width: 400px;
 }
 }

 @media screen and (min-width: 992px) {
  #favoriteCard{
width: 500px;
 }
 }

