<div class="background modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class=" background modal-body">
  <div class="d-flex justify-content-center">
    <h3>Richiesta di prenotazione confermata</h3>
  </div>
  <div class="my-3 text-center">
    <p>Il ristorante ti contatterà per confermati la disponibilità per l'orario e la data selezionata</p>
  </div>
</div>
<div class=" background modal-footer">
  <button type="button" class="btn button text-black" (click)="modalRef.close()">
    Chiudi
  </button>
</div>
