<app-nav-bar></app-nav-bar>
<div class="input-group container mt-5">
  <div class="form-outline d-flex w-100">
    <div class="w-100">
      <input type="search" id="searchBar" class="form-control w-100 border" />
      <label id="labelSearch" class="form-label" for="searchBar">Cerca il tuo ristorante preferito...</label>
    </div>
    <div>
      <button id="buttonSearch" type="button" class="ms-3 btn btn-primary">
        <i id="search" class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
