<div class="progress" *ngIf="isLoading == true">
  <div class="progress-bar" role="progressbar" [style.width.%]="progress" [attr.aria-valuenow]="progress"
    aria-valuemin="0" aria-valuemax="100">
    {{progress}}%
  </div>
</div>
<div *ngIf="isLoading == false">
  <app-nav-bar></app-nav-bar>
  <div id="searchArea" class="container-fluid">
    <div class="input-group container my-5">
      <div class="form-outline d-flex w-100">
        <div class="w-100">
          <input type="search" id="searchBar" #searchBar class="form-control w-100 border bg-light" (keyup.enter)="search(searchBar.value)"/>
          <label id="labelSearch" class="form-label" for="searchBar">Cerca nella tua città...</label>
        </div>
        <div>
          <button id="buttonSearch" type="button" class="ms-3 btn btn-primary">
            <i id="search" class="fas fa-search" (click)="search(searchBar.value)"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 text-center my-5 text-black">
    <h2>Cosa vorresti mangiare?</h2>
  </div>
  <div id="buttonContainer" class="my-5 text-black text-center">
    <div>
      <img class="btn p-2 button" src="../../../assets/img/pizza.png"  alt="pizza" data-value="Pizza" (click)="getRestaurantbyTipe($event)">
      <p>PIZZA</p>
    </div>
    <div>
      <img class="btn p-2 button" src="../../../assets/img/sushi.webp" alt="sushi" data-value="Sushi" (click)="getRestaurantbyTipe($event)">
      <p>SUSHI</p>
    </div>
    <div>
      <img class="btn p-2 button" src="../../../assets/img/asian.png" alt="asian" data-value="Fusion" (click)="getRestaurantbyTipe($event)">
      <p>ASIAN</p>
    </div>
    <div>
      <img class="btn p-2 button" src="../../../assets/img/hamburger.png" alt="hamburger /amerincan food" data-value="Fast Food" (click)="getRestaurantbyTipe($event)">
      <p>HAMBURGER</p>
    </div>
    <div>
      <img class="btn p-2 button" src="../../../assets/img/pasta.png" alt="italian / mediterranean" data-value="Italian" (click)="getRestaurantbyTipe($event)">
      <p>PASTA</p>
    </div>
    <div>
      <img class="btn p-2 button" src="../../../assets/img/pesce.png" alt="italian / mediterranean" data-value="Seafood" (click)="getRestaurantbyTipe($event)">
      <p>PESCE</p>
    </div>
  </div>
  <div id="carousel" class="container" (mousedown)="onMouseDown($event)">
    <div>
      <h4 class="ms-2">Ecco i primi 10 ristoranti di {{user?.city}}...</h4>
    </div>
    <div>
      <i (click)="left()" id="left" class="fas fa-chevron-circle-left"></i>
    </div>
    <div #containerCard id="containerCard" class="container" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()">
      <div id="card" class="card m-2" *ngFor="let l of listRestaurant">
        <app-card [restaurant]="l"></app-card>
      </div>
    </div>
    <div>
      <i (click)="right()" id="right" class="fas fa-chevron-circle-right"></i>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
