
<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container-fluid">
    <a class="ms-3 navbar-brand"><a class="navbar-brand cursor" (click)="home()"><img src="../../../assets/img/logo_nav.png" alt="logo"
          id="logo"></a> </a>
    <button class="navbar-toggler" type="button" (click)="basicNavbar.toggle()" aria-expanded="false"
      aria-label="Toggle navigation">
      <i id="menuHam" class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li mdbDropdown class="mx-5 nav-item dropdown">
          <p class=" dropdown-toggle d-flex align-items-center" id="dropCitta" role="button" mdbDropdownToggle
            aria-expanded="false">
            Dove vuoi mangiare?</p>
          <ul mdbDropdownMenu class="dropdown-menu boxDropDown" aria-labelledby="dropCitta">
            <li>
              <a class="dropdown-item" (click)="changeCity('Torino')">Torino</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeCity('Milano')">Milano</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeCity('Venezia')">Venezia</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeCity('Firenze')">Firenze</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeCity('Roma')">Roma</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeCity('Napoli')">Napoli</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeCity('Palermo')">Palermo</a>
            </li>
          </ul>
        </li>
      </ul>
      <div id="infoProfile">
        <li mdbDropdown id="user" class="me-3 nav-item dropdown profile">
          <a class="nav-link dropdown-toggle d-flex align-items-center" id="iconaUser" role="button"
            mdbDropdownToggle aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <ul mdbDropdownMenu class="dropdown-menu boxDropDown" aria-labelledby="figlio">
            <li id="hello">
              <p class=" mb-0 dropdown-item" *ngIf="user">Ciao, {{user.name}}</p>
            </li>
            <li>
              <a class="dropdown-item cursor" routerLink="/profile">Profilo</a>
            </li>
            <li>
              <a class="dropdown-item cursor" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
        <div id="weather" class="d-flex flex-row ">
          <p>{{user!.city}}</p>
          <img src="{{iconWeather}}" alt="">
          <p>{{temp}}</p>
        </div>
      </div>
    </div>
  </div>
</nav>

